name: Build and Push Docker Image to ECR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: true
          registry-type: private
          skip-logout: false

      - name: Extract ECR repository URI
        id: ecr
        run: echo "::set-output name=uri::$(aws ecr describe-repositories --repository-names orion --region eu-west-3 --query 'repositories[0].repositoryUri' --output text)"
        env:
          AWS_REGION: eu-west-3
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Build, tag, and push Docker image to ECR
        run: |
          docker build -t ${{ steps.ecr.outputs.uri }}:latest .
          docker push ${{ steps.ecr.outputs.uri }}:latest
